/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:url('https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-geometric-gradient-creative-blood-donation-poster-background-material-image_134137.jpg');
    background-size: cover; /* Adjust this property as needed */
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.info-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px; /* Add spacing between the info box and login box */
}
/* Style the login form */
.login-form {
    background-color: #ffffff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}

.login-form img {
    width: 90px;
    margin-bottom: 20px;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c9302c;

}
/* Style the info box */
.info-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     /* Take up available space */
}

.info-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color:#c9302c;
}
